<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CoCoCo" ToolsVersion="15.0">
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="mixedrecommendedrules.ruleset" Action="Default" />
</RuleSet>